.grid {
    position: absolute;
    width: 570px;
    height: 300px;
    margin-top: 100px;
    border: solid black 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;

}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
}

.result {
    background-color: red;
    width: 100px;
    height: fit-content;
}

.score {
    width: 100px;
    height: fit-content;
    color:aliceblue;
}